<header class="header">
    <div class="header-items">
        <a class="flex-logo background-logo-div" href="{{ path('app_main') }}"></a>
        <div class="flex-tab"></div>
        <div class="flex-tab"><a href="{{ path('app_main') }}">MAIN</a></div>
        <div class="flex-tab"><a href="{{ path('app_manufacturer_index') }}">MANUFACTURER</a></div>
        <div class="flex-tab"><a href="{{ path('app_country_index') }}">COUNTRY</a></div>
        <div class="flex-tab"><a href="{{ path('app_electronic_category_index') }}">CATEGORY</a></div>
        <div class="flex-tab"><a href="{{ path('app_login') }}">LOGIN</a></div>
    </div>
</header>