<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link href="{{ asset('css/footer.css') }}" rel="stylesheet">
        <link href="{{ asset('css/header.css') }}" rel="stylesheet">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <header class="header">
        <div class="header-items">
            <div class="flex-logo background-logo-div"></div>
            <div class="flex-tab"></div>
            <div class="flex-tab">MAIN</div>
            <div class="flex-tab">MANUFACTURER</div>
            <div class="flex-tab">COUNTRY</div>
            <div class="flex-tab">CATEGORY</div>
            <div class="flex-tab">CATALOG</div>
        </div>
    </header>

    <body>
        <div class="body-main-div">
            {% block body %}{% endblock %}
        </div>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    </body>

    <footer class="footer">
        <div class="footer-items">
            <div class="footer-section about-company">
                <p>The company ElectroHub has been selling electronics worldwide since 2025.<br>
                We cooperate with such famous brands as Apple, Samsung, Xiomi.</p>
            </div>
            <div class="footer-section"></div>
            <div class="footer-section">gigi74747474@gmail.com</div>
        </div>
        <div class="footer-copyright">ELECTROHUB© 2025</div>
    </footer>

</html>
